/* Laptop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .main-menu ul li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
    }

    .single-slider.slider-height{
        min-height: 650px;
    }

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .main-menu ul li {
        margin-left: 12px;
    }

    .header-btn > a {
        padding: 12px 18px;
    }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}

/* small mobile :320px. */
@media (max-width: 767px) {


}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
